.hello{
    display:flex;
    justify-content: center;
    text-align: center;
}

.header{

    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: Inter;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 314.286% */
    letter-spacing: -0.408px;
}

.topFooter{
    color: rgba(0, 0, 0, 0.70);
    text-align: start;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height:22px;
    letter-spacing: -0.408px;
}

.footer{
    color: rgba(0, 0, 0, 0.70);
    text-align: start;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.408px;
}
